@model ServisProjekt.Models.AdminViewModel.DetaljnijePotrošniModel
@{
    ViewData["Title"] = "Detaljnije Potroši";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div>
    <dl class="form-row" style="float:left; width: 50%;">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.NarudžbaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.NarudžbaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.Naručitelj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.Naručitelj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.Poduzeće)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.Poduzeće)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.SerijskiBrojPrintera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.SerijskiBrojPrintera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.ŠifraGreške)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.ŠifraGreške)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.TextAreaFor(model => model.Narudžba.Opis, new { disabled = "disabled", rows = "5", cols = "55" })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.StatusNarudžbe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.StatusNarudžbe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.VrijemeNarudžbe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.VrijemeNarudžbe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Narudžba.VrstaNarudžbe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narudžba.VrstaNarudžbe)
        </dd>
    </dl>
    <dl class="form-row" style="float:left; width: 50%;">
        @foreach (var item in Model.Potrošni)
        {
            <dt class="col-sm-2">
                @Html.DisplayName(item.Naziv)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.PredmetID)
                <span class="font-weight-bold">@Html.DisplayNameFor(model => item.Količina):</span>
                @Html.DisplayFor(model => item.Količina)
            </dd>
        }
    </dl>
</div>
<div style="clear:both">
    <div style="clear:both">
        <a asp-action="PopisPrijava">Nazad</a>
        @if (Model.Narudžba.StatusNarudžbe == "Završeno")
        {
            <span> | </span><a asp-action="PrikazRadniNalog" asp-route-NarudžbaID="@Model.Narudžba.NarudžbaID">Prikaz radnog naloga</a>
        }
    </div>
</div>